#graph{
    background-color: rgb(236, 228, 228);
    height: fit-content;
    width: fit-content;
    align-items: center;
    top: 15%;
    left: 30%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
}

.bars{
    display: flex;
}

.bar{
    height: 500px;
    width: 50px;
    background-color: rgb(161, 161, 161);
}

.bar1{
    background-color: rgb(255, 255, 255);
    height: 70%;
    animation-name: bar1_animation;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes bar1_animation {
    from { height: 0;}
    to { height: 70%; }
}

.bar2{
    background-color: rgb(255, 255, 255);
    height: 60%;
    animation-name: bar2_animation;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes bar2_animation {
    from { height: 0;}
    to { height: 60%; }
}

.bar3{
    background-color: rgb(255, 255, 255);
    height: 20%;
    animation-name: bar3_animation;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes bar3_animation {
    from { height: 0;}
    to { height: 20%; }
}

p{
    width: 30px;
    padding-left: 10px;
}

.bar-data{
    height: 500px;
    margin: 15px; 
    padding-top: 20px;
}

#bar-heading{
    padding-top: 20px;
    text-align: center;
}

@keyframes grow{
    from { height: 0; }
    to { height: var(--height); }
}
