#graph{
    background-color: rgb(196, 196, 196,0.4);
    height: fit-content;
    width: fit-content;
    align-items: center;
    top: 25%;
    left: 30%;
    padding: 20px;
    position: absolute;
}

.bars{
    display: flex;
}

.bar{
    height: 500px;
    background-color: white;
    width: 50px;

    color: calc(--height) rgb(116, 116, 204);
}

p{
    width: 30px;
    padding: 5px;
}

.bar-data{
    height: fit-content;
    margin: 15px; 
    padding-top: 20px;
}

#bar-heading{
    text-align: center;
    top: 85%;
    left: 40%;
}

@keyframes grow{
    from { height: 0; }
    to { height: var(--height); }
}
